<h1>Welcome to Laugh Tracks!</h1>

<section class="statistics">
  <p>Average age: <%= @avg_age %></p>
  <p>Average special run length: <%= @avg_run_length %></p>
  <p>Cities: <%= @cities %></p>
</section>

<% @comedians.each do |comedian| %>
  <section class="comedian<%= comedian.id %>">
    <ul>
      <li><%= comedian.name %></li>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
    </ul>
    <% @specials.each do |special| %>
      <% if special.comedian_id == comedian.id %>
      <p><img src="<%= special.image %>" class="special_image"/></p>
        <%= special.title %>
        <p>Length: <%= special.length %></p>
      <% end %>
    <% end %>
  </section>
<% end %>
