<h1>Welcome to Laugh Tracks!</h1>

<section class="statistics">
  <h2>Statistics</h2>
  <p>Average age: <%= @avg_age.round %></p>
  <p>Total number of specials: <%= @total_special_count %><p>
  <p>Average special run length: <%= @avg_run_length %></p>
  <p>Cities:
    <ul>
      <% @cities.each do |city| %>
        <li><%= city %></li>
      <% end %>
    </ul></p>
</section>

<section class="new_link">
  <%= link_to "Add new comedian", new_comedian_path %>
</section>

<h2>Comedians</h2>
<% @comedians.each do |comedian| %>
  <section class="comedian<%= comedian.id %>">
    <ul>
      <li><%= comedian.name %></li>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
      <li>Number of specials: <%= comedian.specials.count %></li>
    </ul>
    <% comedian.specials.each do |special| %>
      <p><img src="<%= special.image %>" class="special_image"/></p>
        <%= special.title %>
        <p>Length: <%= special.length %></p>
    <% end %>
  </section>
<% end %>
