<h1>Welcome to Laugh Tracks!</h1>

<% @comedians.each do |comedian| %>
  <section class="comedian<%= comedian.id %>">
    <%= comedian.name %>
    <%= comedian.age %>
    <%= comedian.city %>
    <% @specials.each do |special| %>
      <% if special.comedian_id == comedian.id %>
        <%= special.title %>
        <%= special.length %>
      <% end %>
    <% end %>
  </section>
<% end %>
