<section class="nav_bar_container">
  <h1 class="header_item">Welcome to Laugh Tracks</h1>
</section>

<div class="stats_container"
  <section class="statistics">
    <h2 class="stats_header">Statistics</h2>
    <p class="stats1"><em>Average age:</em> <%= @avg_age.round %></p>
    <p class="stats1"><em>Total number of specials:</em> <%= @total_special_count %><p>
    <p class="stats1"><em>Average special run length:</em> <%= @avg_run_length %></p>
    <p class="stats4"><em>Cities:</em> <%= @cities.join(', ') %></p>
    <section class="new_link">
      <%= link_to "Add new comedian", new_comedian_path %>
    </section>
  </section>
</div>

<div class="comedian_container">
  <h2 class="comic_header">Comedians</h2>
  <% @comedians.each do |comedian| %>
  <section class="comedian<%= comedian.id %>">
    <div class="comedian_card_container">
        <div class="comedian_info_section">
            <p class="comic_name"><%= comedian.name %></p>
            <ul>
              <li>Age: <%= comedian.age %></li>
              <li>City: <%= comedian.city %></li>
              <li>Number of specials: <%= comedian.specials.count %></li>
            </ul>
        </div>
      <section class="specials_container">
        <% comedian.specials.each do |special| %>
          <div class="specials_info_section">
            <p><img src="<%= special.image %>" class="special_image"/></p>
            <%= special.title %>
            <p>Length: <%= special.length %></p>
          </div>
        <% end %>
      </section>
    </div>
  </section>
  <% end %>
</div>
